*.class

# Package Files #
*.jar
*.war
*.ear
/build/

.gradle
.m2
/.nb-gradle/
/bin/
.settings/
.nb-gradle-properties
.classpath
.project
.settings
.metadata
.checkstyle
bin/
!/gradle/wrapper/gradle-wrapper.jar
.pmd
.ruleset
local.properties